name: ChatTriggers

on:
  push:
  schedule:
    - cron: '* 0 * * *'

jobs:
  javadocs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: site
    
    - name: Checkout ChatTriggers 
      uses: actions/checkout@v2
      with:
        repository: ChatTriggers/ChatTriggers
        path: chattriggers
    
    - name: Setup Java JDK
      uses: actions/setup-java@v1.3.0
      with:
        java-version: 1.8
    
    - name: Grant execute permission for gradlew
      run: chmod +x chattriggers/gradlew
      
    - name: Generate JavaDocs
      run: ./gradlew chattriggers/gradlew userdocs
      
    - name: Remove Old Docs
      run: rm -rf site/chattriggers/javadocs
      
    - name: Make Folders
      run: mkdir -p site/chattriggers/javadocs
      
    - name: Copy JavaDocs
      run: cp chattriggers/build/javadoc/* site/chattriggers/javadocs
      
    - name: Commit Changes
      run: |
        cd site
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add -A
        git commit -m "Update ChatTriggers JavaDocs"
        
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
    
